html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 font-size:100%;
 font:inherit;
 vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, nav, section {
 display:block;
}
ol, ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}


@font-face {
    font-family: 'titilliumweb-bold';
    src: url('../fonts/titilliumweb-bold.ttf');
    src: url('../fonts/titilliumweb-bold?#iefix') format('eot'),
         url('../fonts/titilliumweb-bold.woff') format('woff'),
         url('../fonts/titilliumweb-bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'titilliumweb-italic';
    src: url('../fonts/titilliumweb-italic.ttf');
    src: url('../fonts/titilliumweb-italic?#iefix') format('eot'),
         url('../fonts/titilliumweb-italic.woff') format('woff'),
         url('../fonts/titilliumweb-italic.ttf') format('truetype'),
}

@font-face {
    font-family: 'titilliumweb-light';
    src: url('../fonts/titilliumweb-light.ttf');
    src: url('../fonts/titilliumweb-light?#iefix') format('eot'),
         url('../fonts/titilliumweb-light.woff') format('woff'),
         url('../fonts/titilliumweb-light.ttf') format('truetype'),
}

@font-face {
    font-family: 'titilliumweb-regular';
    src: url('../fonts/titilliumweb-regular.ttf');
    src: url('../fonts/titilliumweb-regular?#iefix') format('eot'),
         url('../fonts/titilliumweb-regular.woff') format('woff'),
         url('../fonts/titilliumweb-regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'titilliumweb-semibold';
    src: url('../fonts/titilliumweb-semibold.ttf');
    src: url('../fonts/titilliumweb-semibold?#iefix') format('eot'),
         url('../fonts/titilliumweb-semibold.woff') format('woff'),
         url('../fonts/titilliumweb-semibold.ttf') format('truetype'),
}

h1 {
    font-family: "titilliumweb-bold";
    font-size: 2.5rem;
    margin: 0 auto;
    text-indent: 0rem;
    letter-spacing: 0.25rem;
    color: #fff;
    text-align: center; 
    width: 62%;
    background: transparent url("../img/line.png") no-repeat scroll 50% 100%;
    margin-bottom: 1.25rem;
    line-height: 5rem;
    text-transform: uppercase;
}

h2 {
    font-family: "titilliumweb-regular",sans-serif;
    line-height: 1.5rem;
    font-size: 1.12rem;
    color: #fff; 
    text-align: center;
    margin: 0 auto; 
}

html {
    font: 62.5%;
}

body {
    width: 100%;
    font-family: 'titilliumweb-regular', sans-serif;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0px;
    display: table;
    width: 100%;
}

.tabl {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    min-height: 600px;
    height: 100vh;
}

.hlop {
    text-align: center;
    margin-bottom: 80px;
}

.btn {
    display: block;
    width: 228px;
    margin: 0 auto;
    text-align: center;
    font-family: "titilliumweb-regular",sans-serif;
    color: #fff;
    background: #eb7d4b;
    padding: 20px 0px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    border-bottom: solid 4px #c86a40;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}
.btn:hover {
    background: #F59062;
}


.col1 { 
    width: 24%;
    display: inline-block;
}

.col2 { 
    width: 48%;
    display: inline-block;
}

.col3 { 
    width: 72%;
    display: inline-block;
}



/************************************************************************************

                      ! 1 BLOK     

*************************************************************************************/
.cuda {
    background: #87509c;
    min-height: 100vh;
    height: 100%;
    width: 100%
}

.header {
    margin-top: 60px;
}

.cuda__logo {
    max-width: 100%;
}

.logo {
    float: left;
    margin-left: 60px;
}

.slogan {
    text-align: center;
    font-size: 2.62rem;
    display: inline-block;
    color: #Fff;
    font-family: "titilliumweb-bold",sans-serif;
    line-height: 3.35rem;
    margin: 0 0 60px 0;
}

.menu {
    position: relative;
    float: right;
    margin-top: 6px;
    margin-right: 40px;
}

.menu li {
    float: right;
}

.menu li a{
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: #Fff;
    padding: 5px 20px 5px 20px;
}

.menu li a:hover {
    background: #643a79 ;
    border-radius:4px;
}

.header_top {
    display: inline-block;
    width: 100%;
}

.menu_icon {
    visibility: hidden ;
    width: 50px;
    height: 50px;
    right: 2px;
    position: absolute;
    background: url('../img/menu.png') no-repeat;
}

@media screen and (max-width: 1024px) {
    .slogan {
        padding-bottom: 50px;
    }

}




/********************************************************

                                    ! 2 BLOK 

************************************************************/

.ServiceSprovide {
    background: #17c2a4;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.team_group {
    vertical-align: top;
}

.info__img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0px auto;
    margin-bottom: 55px;
}

.info__title {
    font-family: "titilliumweb-bold",sans-serif;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 25px;
}

.info_text {
    font-family: "titilliumweb-light",sans-serif;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #fff;  
    padding: 0 40px;

}

@media screen and (max-width: 1024px) {
    .ServiceSprovide {
        padding-top: 70px;
        padding-bottom:60px; 
    }
    .team_group {
        margin-bottom: 80px;
    }
    .info__img {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 767px) {
    .hlop {
        margin-bottom: 40px;
    }

    .team_group {
        margin-bottom: 40px;
    }

}


/*****************************************************************************

                            ! 3 BLOK 

/*******************************************************************************/

.meet {
    background: #e7f1f8;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.meet--name {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info__pos--req {
    margin-bottom:22px; 
}


.socseti {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 50px;
}

.socseti__item {
    padding: 0px 22px;
    position: relative;
    display: inline;
}

.socseti__link {
    text-decoration: none;
}

.socseti__link:before {
    position: absolute;
    top: 16px;
    left: 12px;
    width: 32px;
    height: 32px;
    content: ""
}

.fb:before {
    background: url(../img/socseti.png) 0 0px no-repeat;
}
.tw:before {
    background: url(../img/socseti.png) -40px 0px no-repeat;
}
.in:before {
    background: url(../img/socseti.png) -80px 0px no-repeat;
}
.email:before {
    background: url(../img/socseti.png) -120px 0px no-repeat;
}



/*******************************************************************************

                    !4 BLOK

********************************************************************************/

.gotSkills {
    background: #fff;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}


.info__name {
    font-family: "titilliumweb-light",sans-serif;
    text-align: center;
    font-size: 1rem;
    color: #000; 
}

.info__img__name {
    font-family: "titilliumweb-bold";
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}  


@media screen and (max-width: 767px) {
    .info__img__name {
        margin-bottom: 10px;
    }
}







/*******************************************************************************

                    !5 BLOK

********************************************************************************/

.portfolio {
    background: #ffdd99;
    padding-top: 6.5%;
    padding-bottom: 8.3%;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.info__img--portfolio {
    margin-bottom: 30px;
}

.portfolio__title,
.portfolio__text {
    color: #393939;
}

.portfolio__text {
    margin-bottom: 40px;
}

.btn--portfolio {
    background: #17c2a4;
    border-bottom: solid 4px #14a58c;
    padding: 15px 20px;
}

.btn--portfolio:hover {
    background: #24D6B7;
}

.info__pos {
    font-family: "titilliumweb-light",sans-serif;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #30bae7; 
}

.info__name--portfolio {
    font-size: "titilliumweb-regular";
    font-family: 18px;
    color: #393939 ;
    text-transform: uppercase;
}

.tab {
    text-align: center;
    margin-bottom: 55px;
}

.tab li{
    display: inline-block;
    border-radius: 4px;
    background: #ebc985;
    padding: 6px 24px;
    margin: 0px 3px;
    text-decoration: none;
    font-size: 1.12rem;
    color: #393939;
    text-transform: uppercase;
    font-family: "titilliumweb-regular";
}

.tab li:hover {
    background: #fff;
}

.info__name--portfolio:last-child {
    margin-bottom: 60px;
}

.meet__text {
    color: #000;
}


/*******************************************************************************

                    !6 BLOK

********************************************************************************/

.aboutus {
    background: #d74680;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.art_about_img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.aboutus__img {
    display: inline;
}

.art_about {
    text-align: left;
    margin-bottom: 140px;
}

.art_about_info {
    display: inline-block;
    width: 70%;
    padding: 0 0px 0px 30px;
}
  
.info_text--art_about {
    font-family: "titilliumweb-italic";
    font-size: 18px;
    text-align: left;
    padding: 0 40px 30px 0px;
}

.info_text--aboutus {
    font-family: "titilliumweb-bold";
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
}

.info__pos--aboutus {
    color: #ffdd99;
    font-family: "titilliumweb-regular";
    font-size: 1.12rem;
    text-align: left;
}


@media screen and (max-width: 900px) { 
    .art_about_info {
        width: 64%;
    }
}

@media screen and (max-width: 332px) { 
    .art_about_info {
        display: block;
        margin: 0  auto;
    }
    .info_text--art_about {
        text-align: center;
        margin-bottom: 20px;
        width:100%;
    }

    .art_about_img {
        display: block;
        margin: 0 auto;
    }

}


/*******************************************************************************

                    !7 BLOK

********************************************************************************/
.touch {
    background: #3c5499;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.wrap_input {
    margin-bottom: 20px;
}

.form_textarea {
    background: #273A71 none repeat scroll 0% 0%;
    border: medium none;
    font-size: 1.125rem;
    line-height: 3rem;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 60px;
    font-size: 18px;
    font-family: "titilliumweb-light",sans-serif;
    outline: none;
}

.form__input {
    background: #273A71 none repeat scroll 0% 0%;
    border: medium none;
    font-size: 1.125rem;
    line-height: 3rem;
    border-radius: 3px;
    width: 44%;
    color: #fff;
    padding-left: 2%;
    padding-right: 2%; 
    font-size: 18px;
    font-family: "titilliumweb-light",sans-serif;
    outline: none;
}


.form__input::-webkit-input-placeholder {color:#fff;}
.form__input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.form__input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.form__input:-ms-input-placeholder      {color:#fff;}

.form_textarea::-webkit-input-placeholder {color:#fff;}
.form_textarea::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.form_textarea:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.form_textarea:-ms-input-placeholder      {color:#fff;}



.btn_form {
    background: #30bae7;
    border-bottom: solid 4px #299ec5 ;
}
.btn_form:hover {
    background: #5AC9ED;
}

.left {
    float: left;
}

.right {
    float: right;
}

.callback {
    width: 80%;
    margin: 0 auto;
}



/*****************************************************************
              foooter

****************************************************************/

.footer {
    margin-top: 20px;
    padding: 3% 0px;
    background: #344B8E none repeat scroll 0% 0%;
    color: #FFF;
    border-top: 1px solid #5D6CA3;
}


.nav {
    display: table;
    width: 100%;
}

.nav li {
    display: table-cell;
    text-align: center;
    font-size: 1.5rem;
}

.nav li a {
    text-decoration: none;
    color: #FFF;
}

.nav li a:hover {
    color: #555;
}

@media screen and (max-width: 689px) {
  .nav {
      display: block;
  }
  .nav li {
      display: block;
  }
}



.meet__title,
.meet__text,
.meet--name,
.meet--text,
.gotSkills__title,
.gotSkills__text,
.info__img__name {
    color: #3c4761;
}


/******************************************************************************************
                MEDIA   1024

********************************************************************************************/

@media screen and (max-width: 1023px) { 

.col1 {
    width: 48%;
}
.col3 {
    width: 60%;
}

.info__img--aboutus {
    display: inline;
}

.meet {
    padding-top: 50px;
}

.gotSkills {
    padding-top: 50px;
}

.aboutus {
    padding-top: 50px;
}


.info__img--portfolio {
    margin-bottom: 40px;
}

.info_text--art_about {
    font-family: "titilliumweb-italic";
    font-size: 16px;
    max-width: 100%;
}

.info_text--aboutus {
    font-size: 1.3rem;
}

.info__pos--aboutus {
    font-size: 1.1rem;
}
.socseti {
    width: 100%;
}


}


/************************************************************************************************************

                                   MEDIa                 768

*************************************************************************************************************/

@media screen and (max-width: 767px) { 
  h1 {
      font-size: 1.5rem;
      margin-bottom: 20px;
      line-height: 4rem;
  }
  
  .hlop {
      padding-bottom:40px;
  }

  .col1 {
      width: 100%;
  }

  .col2 {
      width: 100%;
  }

  .col3 {
      width: 100%;
  }

  .menu_icon {
      visibility: visible;
  }

  .menu {
      position: absolute;
      top: 100px;
      width: 100%;
      text-align: center;
      background: #643a79;
  }

  .menu li {
      text-align: center;
      float: none;
      display: block;
      padding: 8px 0;
      border-bottom: solid 1px #87509c;
  }
  .menu li:last-child {
      border-bottom: 0;
  }

  .menu li a {
      font-size: 1.2rem;
      display: block;
      background: #643a79;
      padding: 0px 9px 0px 9px;
      border-radius: 10px;
  }

  .menu {
      display: none;
  }

.is_open {
      display: block;
}

.info_text {
      margin-bottom: 15px;
  }

 
.info__name--portfolio {
      font-size: "titilliumweb-regular";
      color: #393939 ;
}

.info__img--aboutus {
      float: none;
}

.info_text--art_about {
      width: 100%;
      padding: 0;
      display: inline-block;
}
.info_text--aboutus {
      font-size: 1.2rem;
}

.art_about {
      margin-bottom: 50px;
      text-align: center;
}

.socseti {
      margin-bottom: 3%;
      width: 100%;
}


  .form__input { 
      width: 96%;
      margin-bottom: 20px;
  }

  .wrap_input {
      margin-bottom: 0;
  }

} /* end media  767*/
  
/*************************************************************************************************************

                                              @media  478

***************************************************************************************************************/
@media screen and (max-width: 479px) { 
h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.info__name--portfolio {
    font-size: 1.5rem;
}

.header {
    margin-bottom: 35px;
}

.slogan {
    margin: 0 20px 60px 20px;
}

.form__input {
    width: 96%;
}

.callback_form_textarea {
    width: 78%;
}

.info_text--art_about {
    display: inline-block;
    width: 100%;

}
.info_text--aboutus {
    font-size: 1.2rem;
    text-align: left;
    padding: 0;
    margin: 0 auto;
}
.info__pos--aboutus {
    padding: 0;
    text-align: left;

}

.team_group--aboutus {
    text-align: center;
    max-width: 100%;
    margin-left: 1rem;
}


.art_about {
    width: 100%;
}

.menu {
    margin-bottom: 30px;
}

.menu li {
    display: block;
}

}


/****************************************************************************************************************

                                                    MEDIA           380

******************************************************************************************************************/
@media screen and (max-width: 380px) { 
.btn {
    width :65%;
}
}

@media screen and (max-width: 320px) { 

.info_text--aboutus {
    text-align: center;
}
.info__pos--aboutus {
    text-align: center;
}

.art_about_info {
    display: inline-block;
    width: 70%;
    padding: 0 0px 0px 0px;
}

}




