html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 font-size:100%;
 font:inherit;
 vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, nav, section {
 display:block;
}
ol, ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}


@font-face {
    font-family: 'titilliumweb-bold';
    src: url('../fonts/titilliumweb-bold.ttf');
    src: url('../fonts/titilliumweb-bold?#iefix') format('eot'),
         url('../fonts/titilliumweb-bold.woff') format('woff'),
         url('../fonts/titilliumweb-bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'titilliumweb-italic';
    src: url('../fonts/titilliumweb-italic.ttf');
    src: url('../fonts/titilliumweb-italic?#iefix') format('eot'),
         url('../fonts/titilliumweb-italic.woff') format('woff'),
         url('../fonts/titilliumweb-italic.ttf') format('truetype'),
}

@font-face {
    font-family: 'titilliumweb-light';
    src: url('../fonts/titilliumweb-light.ttf');
    src: url('../fonts/titilliumweb-light?#iefix') format('eot'),
         url('../fonts/titilliumweb-light.woff') format('woff'),
         url('../fonts/titilliumweb-light.ttf') format('truetype'),
}

@font-face {
    font-family: 'titilliumweb-regular';
    src: url('../fonts/titilliumweb-regular.ttf');
    src: url('../fonts/titilliumweb-regular?#iefix') format('eot'),
         url('../fonts/titilliumweb-regular.woff') format('woff'),
         url('../fonts/titilliumweb-regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'titilliumweb-semibold';
    src: url('../fonts/titilliumweb-semibold.ttf');
    src: url('../fonts/titilliumweb-semibold?#iefix') format('eot'),
         url('../fonts/titilliumweb-semibold.woff') format('woff'),
         url('../fonts/titilliumweb-semibold.ttf') format('truetype'),
}

h1 {
    font-family: "titilliumweb-bold";
    font-size: 2.5rem;
    margin: 0 auto;
    text-indent: 0rem;
    letter-spacing: 0.25rem;
    color: #fff;
    text-align: center; 
    width: 62%;
    background: transparent url("../img/line.png") no-repeat scroll 50% 100%;
    margin-bottom: 1.25rem;
    line-height: 5rem;
    text-transform: uppercase;
}

h2 {
    font-family: "titilliumweb-regular",sans-serif;
    line-height: 1.5rem;
    text-indent: 0.7rem;
    font-size: 1.12rem;
    color: #fff; 
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 80px; 
    width: 57%;;

}

html {
	font: 62.5%/1rem;
}

body {
	width: 100%;
	font-family: 'titilliumweb-regular', sans-serif;
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}


.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.cuda {
  background: #87509c;
  padding-top: 60px;
  padding-bottom: 145px;
}

.ServiceSprovide {
    background: #17c2a4;
    padding-top: 6.5%;
    padding-bottom: 8.3%;
    margin-left: 1%;
}

.MEET {
  background: #e7f1f8;
    padding-top: 6.5%;
    padding-bottom: 8.3%;
    margin-left: 1%;
}

.gotSkills {
  background: #fff;
    padding-top: 6.5%;
    padding-bottom: 8.3%;
    margin-left: 1%;
}

.portfolio {
   background: #ffdd99;
    padding-top: 6.5%;
    padding-bottom: 8.3%;
    margin-left: 1%;
}

.aboutus {
  background: #d74680;
    padding-top: 6.5%;
    padding-bottom: 8.3%;
    margin-left: 1%;
}

.touch {
  background: #3c5499;
  padding-top: 119px;
  padding-bottom: 127px;
}

.header {
  margin-bottom: 130px;
}

.logo {
  float: left;
    margin-left: 14.5%;
}

.menu_icon {
    /*visibility: hidden ;*/
    width: 50px;
    height: 50px;
    right: 2px;
    position: absolute;
    background: url('../img/menu.png') no-repeat;
}

.menu {
    position: relative;
    float: right;
    margin-top: 6px;
    margin-right: 12%;
}

.menu li {
  float: right;
}

.menu li a{
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  color: #Fff;
  padding: 5px 20px 5px 20px;
}

.menu li a:hover {
  background: #643a79 ;
  border-radius:4px;
}



.tab {
  text-align: center;
    margin-bottom: 4%;
}

.tab li{
    display: inline-block;
    border-radius: 4px;
    background: #ebc985;
    padding: 6px 24px;
    margin: 0px 3px;
    text-decoration: none;
    font-size: 1.12rem;
    color: #393939;
    text-transform: uppercase;
    font-family: "titilliumweb-regular";
}

.tab li:hover {
  background: #fff;

}

.slogan {
    text-align: center;
    font-size: 2.62rem;
    color: #Fff;
    font-family: "titilliumweb-bold",sans-serif;
    line-height: 3.35rem;
    margin: 0 5rem 3% 5rem;
}

.btn {
  display: block;
  width: 296px;
  margin: 0 auto;
  text-align: center;
  font-family: "titilliumweb-regular",sans-serif;
  color: #fff;
  background: #eb7d4b;
  padding: 20px 0px;
  text-decoration: none;
  font-size: 1.2rem;
  /*font-size: 18px;*/
  border-radius: 5px;
  border-bottom: solid 4px #c86a40;
  text-transform: uppercase;

}


  
.meet__text {
    color: #000;
}


.team_group {
    display: inline-block;
    /*width: 260px;*/
    vertical-align: top;
}

.info__img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0px auto;
    margin-bottom: 13%;
}

.info__title {
    font-family: "titilliumweb-bold",sans-serif;
    text-align: center;
    line-height: 1.5rem;
    text-indent: 1rem;
    font-size: 1.5rem;
    color: #fff;
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 1.4rem;
}

.info_text {
    font-family: "titilliumweb-light",sans-serif;
    text-align: center;
    line-height: 1.5rem;
    text-indent: 1rem;
    font-size: 1rem;
    color: #fff;  
    max-width: 70%;
    margin: 0 auto 1rem;

}

.info__name {
    font-family: "titilliumweb-light",sans-serif;
    text-align: center;
    line-height: 1.5rem;
    text-indent: 1rem;
    font-size: 1rem;
    color: #000; 
}

.info__pos {
    font-family: "titilliumweb-light",sans-serif;
    text-align: center;
    line-height: 1.5rem;
    text-indent: 1rem;
    font-size: 1rem;
    color: #30bae7; 
}



.meet--name {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.meet__title,
.meet__text,
.meet--name,
.meet--text,
.gotSkills__title,
.gotSkills__text,
.info__img__name {
   color: #3c4761;
}

.portfolio__title,
.portfolio__text {
  color: #393939;
}

.portfolio__text {
  margin-bottom: 3%;
}

.btn--portfolio {
  background: #17c2a4 ;
  border-bottom: solid 4px #14a58c;
}

.info__img__name {
  font-family: "titilliumweb-bold";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8%;
  text-transform: uppercase;
}    

.info_text--art_about {
  font-family: "titilliumweb-italic";
  font-size: 18px;
}

.info__pos--req {
  margin-bottom: 4.2%; 
}

.info__img--name {
  font-weight: bold;
}

.info_text--aboutus {
    font-family: "titilliumweb-bold";
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: left;
    padding-left: 125px;
}

.info__pos--aboutus {
color: #ffdd99;
    font-family: "titilliumweb-regular";
    font-size: 1.12rem;
    line-height: 2rem;
    text-align: left;
    padding-left: 125px;

}

.info__name--portfolio:last-child {
    margin-bottom: 9%;
}

.callback {
    margin: 0 auto;
}

.callback_name {
  float: left;
}

.callback_email {
  float: left;
}

.callback_textarea {

}

.col1 { 
	width: 24%;
  display: inline-block;
}

.col2 { 
	width: 48%;
  display: inline-block;
}


.cuda__logo {
  max-width: 100%;
}


.info__img--aboutus {
   float: left;
}

.team_group--aboutus {
   margin-left: 7.9rem;
}

.art_about {
    /* display: inline; */
    float: left;
    width: 43%;
}

.info__name--portfolio {
    margin-bottom: 12%;
    font-size: "titilliumweb-regular";
    font-family: 18px;
    color: #393939 ;
    text-transform: uppercase;
}

.info__img--portfolio {
  margin-bottom: 30px;
}

.callback {
  width: 80%;
  text-align: center;
  margin-bottom: 5%;
}

.wrap_input {
    display: block;
    width: 80%;
    margin: -1% auto;
}

.callback_form_name .callback_form_email{
    /*margin-right: 1%;*/
}

.callback_form_textarea {
    background: #273A71 none repeat scroll 0% 0%;
    border: medium none;
    /* padding: 0px 2rem; */
    font-size: 1.125rem;
    line-height: 3rem;
    border-radius: 3px;
    margin-bottom: 2%;
    width: 78%;
    color: #fff;
}

.callback_form {
    background: #273A71 none repeat scroll 0% 0%;
    border: medium none;
    /* padding: 0px 2rem; */
    font-size: 1.125rem;
    line-height: 3rem;
    border-radius: 3px;
    margin-bottom: 2%;
    width: 48%;
    color: #fff;
    margin-left: 1%;
}


.footer {
  padding: 3% 0px;
  background: #344B8E none repeat scroll 0% 0%;
  color: #FFF;
  border-top: 1px solid #5D6CA3;
}

.nav {
  text-align: center;
  margin: 0px auto;
}

.nav li {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 2rem;
}

.nav li a {
  text-decoration: none;
  color: #FFF;
    padding: 7% 32%;
}

.nav li a:hover {
  color: #555;
}



@media screen and (max-width: 1023px) { 
  .content {

  }
  .col1 {
    width: 48%;
  }

.info__img--aboutus {
    display: inline;
    padding-left: 2%;
}

 .info__name--portfolio {
    margin-bottom: 12%;
}

.info__img--portfolio {
   margin-bottom: 6%;
}

.info__name--portfolio:last-child {
    margin-bottom: 20%;
}
.info_text--art_about {
    width: 55%;
}

.team_group--aboutus {
    margin-left: -6rem;
    width: 47%;
}

}


@media screen and (max-width: 767px) { 
    
  .col1 {
    width: 100%;
  }

  .col2 {
    width: 100%
  }


.menu {
    /*visibility: hidden;*/
    position: absolute;
    margin-top: 10px;
    right: 0;
    background: #444;
    top: 100px;
}

.menu li {
    float: none;
}

.menu li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #Fff;
    padding: 5px 20px 5px 20px;
}

.menu_icon {
    /*visibility: visible;*/
}

.menu {
  display: none;
}

.is_open {
   display: block;
}

/*.menu_icon:hover +.menu {
   visibility: visible;
}*/

  .info__img {
    margin-bottom: 6%;
}

  .info_text {
    margin-bottom: 3rem;
  }

 .info__img__img {
    margin-bottom: 5%;
 }

 
.info__name--portfolio {
    margin-bottom: 12%;
    font-size: "titilliumweb-regular";
    /*font-family: 18px;*/
    color: #393939 ;
}

.info__img--aboutus {
   margin-left: 7.9%;
}

.team_group--aboutus {
    text-align: center;
    max-width: 89%;
    margin-bottom: 5%;
}

.info_text--art_about {
    margin-bottom: 1%;
    margin-left: 21%;
    margin-right: 5%;
    width: 64%;
}

.art_about {
  margin-bottom: 50px;
}

} /* end media  767*/
  

@media screen and (max-width: 479px) { 
h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

h2 {
    margin-bottom: 15%;
}

.info__img {
    margin-bottom: 3%;
}

.info_text {
  max-width: 70%;
}

.info__name--portfolio {
    margin-bottom: 6%;
    font-size: 1.5rem;
}

.info__name--portfolio:last-child {
        margin-bottom: 10%;;
}

.slogan {
  font-size: 2rem;
    margin: 0 2rem 2% 2rem;
}

.header {
  margin-bottom: 35px;
}

.slogan {
  margin: 0 2.5rem 6.5rem 2.5rem;
}
/*************************************************/
.wrap_input {
    width: 80%;
    margin: 0 auto;
}

.callback_form {
    width: 99%;
}

.callback_form_textarea {
    width: 78%;

}


}












